/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  padding: 0 6rem;
  width: 100%;
  z-index: 100;
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  transition: all 0.3s;
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
  position: relative;
  z-index: 10;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  display: block;
  color: inherit;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.6rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  background-color: var(--color-primary-darker);
  color: #333;
}

.nav--mobile-icon {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  font-size: 3.4rem;

  display: none;
}

.nav--mobile-icon > *:last-child {
  display: none;
}

/* HEADER */
.header {
  padding: 0 6rem;
  height: 100vh;
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
}

.header__img {
  width: 100%;
  transform: translateY(-4rem);
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.features__img {
  width: 100%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.4rem;
}

.features__icon {
  background-color: var(--color-primary-opacity);
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.features__icon > * {
  font-size: 2.6rem;
  color: var(--color-primary);
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* OPERATIONs */
.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;
  background-color: #fff;
}

.operations__tab-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.operations__tab {
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
  padding: 1.2rem 3.6rem;
  border-radius: 100px;
}

.operations__tab span {
  font-weight: 600;
  display: inline-block;
}

.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations__tab--2 {
  background-color: var(--color-primary);
}

.operations__tab--2:hover {
  background-color: var(--color-primary-darker);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;

  font-size: 1.6rem;
  padding: 2.4rem 7rem 6.6rem 7rem;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.6rem;
}

.operations__header {
  font-size: 2.2rem;
  font-weight: 500;
  align-self: center;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;

  font-size: 2.8rem;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}

.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}

.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
}

.operations__icon--1 .operations__icon--icon {
  color: var(--color-secondary-darker);
}

.operations__icon--2 .operations__icon--icon {
  color: var(--color-primary-darker);
}

.operations__icon--3 .operations__icon--icon {
  color: var(--color-tertiary-darker);
}

.operations__content p {
  grid-column: 2;
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.6rem;
  width: 5.6rem;
  font-size: 3.2rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(-50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.8rem;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: '\201C';
  position: absolute;
  top: -5.6rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.testimonial__text {
  font-size: 1.8rem;
  margin-bottom: 3.6rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__img {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.8rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.4rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

/* SIGN UP */
.section--sign-up {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
}

.section--sign-up .heading__secondary {
  color: #fff;
  text-align: center;
}

.section--sign-up .section__title {
  margin-bottom: 6rem;
}

.section--sign-up .btn {
  font-size: 2rem;
  padding: 2rem 6rem;
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright strong {
  color: #eee;
  font-weight: 500;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 99;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.3rem;
  margin-bottom: 4.6rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.6rem;
}

.modal__form label {
  font-size: 1.8rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.8rem;
  padding: 1rem 1.6rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal__form button {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background-color: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* COOKIE MESSAGE */
.cookie-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
